# ClearClinic Sandboxed Environment Mockups template
# All keys represent simulated test environments only

# stripe api connectivity
STRIPE_API_KEY=sk_tes...n
# twilio sms configuration
TWILIO_ACCOUNT_SID=ACmockaccount_sid999c
TWILIO_AUTH_TOKEN=auth_t...n
# operational application port
PORT=3458
